body {
  font-family: Arial, sans-serif;
  background-color: #e4e4f1;
}

button {
  padding: 10px 15px;
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
}

button:hover {
  background-color: #4cae4c;
}

input {
  padding: 8px;
  width: 300px;

  margin-right: 10px;
}

input:focus {
  outline: none;
  border: 2px solid #5cb85c;
}

header {
  text-align: center;
  margin-bottom: 20px;
}
header h2 {
  color: #333;
}

#qrcode {
  margin-top: 20px;
  text-align: center;
}

main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
